/* Header Section */
header {
  display: flex;
  align-items: center;
  background-color: black;
  color: #fff;
}

header img {
  height: 12vh;
  margin-right: 10em;
}

/* Main Section */
main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75vh;
}

/* Dropdown Menus */
.dropdown-container {
  flex-basis: 10%;
}

/* Parks Dropdown */
.parks-dropdown {
  margin-bottom: 5em;
}

/* Attractions Dropdown */
.attractions-dropdown {
  margin-bottom: 5em;
}

/* Eateries Dropdown */

/* Itineraries Preview Component */
.preview-container {
  flex-basis: 70%;
}

/* Weather Forecast Component */
.forecast-card {
  display: flex;
  justify-content: space-evenly;
  padding: 2em;
  border-radius: 5px;
}

.forecast-card p {
  flex-basis: 12%;
}

/* National Parks Preview Component */
.parks-card h2 {
  font-size: 1.5em;
}

.parks-card button {
  margin-bottom: 1em;
}

.parks-card__details h2 {
  font-size: 1em;
}

.parks-card__details p {
  font-size: .9em;
}

/* Bizarre Attractions Component */
.attraction-card h2 {
  margin-bottom: .5em;
  font-size: 1.5em;
}

.attraction-card button {
  margin-bottom: 1em;
}

.details-container h3 {
  font-size: 1.2em;
}

/* Eateries Component */
.eateries-card h2 {
  font-size: 1.5em;
}

.eateries-card button {
  margin-bottom: 1em;
}

.eateries-card__details h2,
.eateries-card__details h4 {
  font-size: 1em;
}

/* Miscellaneous Stylings */
.container-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  margin-bottom: 4em;
}

.parks-container,
.attractions-container,
.eateries-container {
  flex-basis: 30%;
}

.parks-card__details,
.eateries-card__details,
.details-container {
  line-height: 1em;
}

/* Footer Section */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: #fff;
}

footer p {
  padding: 1em 0;
}

footer img {
  height: 10vh;
}