header {
  display: flex;
  align-items: center;
  background-color: black;
  color: #fff;
}

header img {
  height: 12vh;
  margin-right: 10em;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75vh;
}

.parks-dropdown {
  margin-bottom: 5em;
}

.attractions-dropdown {
  margin-bottom: 5em;
}

.attraction-card h2 {
  margin-bottom: .5em;
  font-size: 1.5em;
}

.attraction-card button {
  margin-bottom: 1em;
}

.dropdown-container {
  flex-basis: 10%;
}

.preview-container {
  flex-basis: 70%;
}

.container-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10em;
}

.parks-container,
.attractions-container,
.eateries-container {
  flex-basis: 30%;
}

.details-container h3 {
  font-size: 1.2em;
}

.eateries-card__details h2,
.eateries-card__details h4 {
  font-size: 1em;
}

.eateries-card h2 {
  font-size: 1.5em;
}

.eateries-card button {
  margin-bottom: 1em;
}

.parks-card h2 {
  font-size: 1.5em;
}

.parks-card button {
  margin-bottom: 1em;
}

.parks-card__details,
.eateries-card__details,
.details-container {
  line-height: 1em;
}

.attraction-card,
.parks-card,
.eateries-card {
  margin-top: 19em;
}

.parks-card__details h2 {
  font-size: 1em;
}

.parks-card__details p {
  font-size: .9em;
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: #fff;
}

footer p {
  padding: 1em 0;
}

footer img {
  height: 10vh;
}